@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #153662;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e4e5ed;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.Logo {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.nav__logo {
    margin-top: 10px;
}

.Logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/comprar-casa.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

/*icono login*/

.lg-icon{
    width: 20px;
}

.nav__close {
    display: var(--show, none);
}


/* Logo container */

.Logo__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.Logo__title {
    font-size: 2rem;
    opacity: 50%;
}

.Logo__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #546791;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph {
    line-height: 1.7;
    color: #153662;
}

.about__main {
    color: #153662;
    padding-top: 0px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__picture {
    display: grid;
    gap: .5em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__picture {
    width: 260px;
}

/* Tendencias */

.Tendencias {
    background-color: #546791;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    /* background-size: 20px 20px; */
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.Tendencias__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    margin: 1.5rem;
}

.Tendencias__picture {
    max-width: 50px;
}

.Tendencias__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}
.Tendencias p, a {
    margin: 0.5rem;
}
.Tendencias__img {
    width: 50%;
    align-self: auto;
}

/* Testimonios */

.testimony {
    margin-top: 50px;
    background-color: #546791;
}

.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body {
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts {
    max-width: 700px;
}

.testimony__course {
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow {
    width: 90%;
    cursor: pointer;
}

/* Preguntas */

.questions {
    text-align: center;
}

.questions__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions__padding {
    padding: 0;
    transition: padding .2s;
    border: 1px solid #21217c;
    border-radius: 5px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 30px 0 30px;
    cursor: pointer;
    margin: 1rem 2rem;
}

.questions__title {
    margin-left: 25px;
    text-align: left;
    display: flex;
    font-size: 15px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow {
    margin-right: 25px;
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate {
    transform: rotate(180deg);
}

.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
    overflow: hidden;
}

.questions__img {
    display: block;
}

.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer {
    background-color: #153662;
}

.footer__title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title,
.footer__newsletter {
    color: #fff;
}


.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input {
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #546791;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}

.footer__icons {
    margin-bottom: 10px;
    color: #f3f3f3;
    width: 50px;
}




/* SOBRE NOSOTROS - EL EQUIPO */
section.nosotros{
    text-align: center;
    margin-top: 50px;
    background-color: #cfdbf5;
    padding: 100px;
}
.presentacion {
    color: #153662;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-style: italic; /* Estilo de fuente en cursiva */
    font-weight: bold; /* Peso de la fuente en negrita */
}
div.nosotros {
    align-items: center;
    justify-content: center;
    margin: 2%;
    width: 95%;
    display: flex;
    justify-content: space-around; /* Esto distribuirá el espacio disponible entre las cartas */
    
}
.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    margin: 40px;
    background-color: #f4f4f5;
    z-index: 1;
}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card .cont {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.card .cont .img {
    height: 50%;
    margin-bottom: 20px;
}

.card .cont .img img {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(73, 69, 52, 0.4);
}

.card .cont span {
    position: absolute;
    background: linear-gradient(to right, #153662, royalblue);
    transform: rotate(-35deg);
    width: 350px;
    height: 200px;
    top: -50px;
    left: -100px;
}

.card .cont h4 {
    font-size: 18px;
    margin-bottom: 5px;
}

.card .cont h6 {
    color: #153662;
}

.card .cont p {
    margin-top: 8px;
    font-size: 13px;
}

.card .links {
    position: absolute;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    margin: 0;
    align-items: center;
    justify-content: center;
    top: 15px;
    transition: 1s;
}

.card .links a{
padding: 10px;
align-items: center;
justify-content: center;
color: rgb(71, 70, 70);
}

.footer__icons .fa-brands {
    font-size: 20px;
    
}
.card:hover .links {
    right: -50px;
    border-radius: 0 10px 10px 0;
}

.card .links a:nth-child(1):hover {
    color:blue ;
}


/*Login styles*/
.lg-body{
    display: grid;
    place-content: center;
    
    width: 100%;
    height: 100vh;

    background-image: linear-gradient(
        to bottom right,
        #04152b 0%,
        #153662 20%,
        #355882 40%,
        #516a88 60%,
        #cfd7d9 80%
    );
    background-size: 200% 200%;

    animation: movimiento 5s linear infinite alternate;
}
/*Animacion de fondo*/
@keyframes movimiento {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.lg-form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
.lg-form-logo{
    width: 30%;
    height: 30%;
    margin-bottom: 2rem;
}
.lg-title{
    margin-bottom: 1rem;
}
.lg-form_flotante{
    position: relative;
    margin-bottom: 1rem;
    width: 50%;
}
.lg-form_flotante label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0.5;
}
.lg-form_flotante input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 16px;
}
.lg-form_flotante input:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}
.lg-form_flotante input:focus + label,
.lg-form_flotante input:not(:placeholder-shown) + label {
  transform: translate(0, -1.5rem) scale(0.85);
  opacity: 1;
}
.lg-form_btn{
    width: 55%;
    padding: 0.5rem 0.75rem;
    margin-left: 0.75rem;
    margin-bottom: 0.5rem;
    background-color: #153662;
    color: white;
    border-radius: 0.2rem;
    font-size: 15px;
    cursor: pointer;
}

.lg-form_text{
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
}
.lg-main {
    background-color: #ffffff;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgba(37, 40, 42, 0.361);
}
.lg-container_back .lg-back{
    width: 7%;
    height: auto;
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}
.formInvalido {
    border: 2px solid rgb(108, 19, 19);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(123, 9, 9, 0.468);
}
.formValido {
    border: 2px solid rgb(11, 42, 35);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(8, 151, 70, 0.25);
}
#mensaje-error{
    display: none;
    color: rgb(250, 10, 10);
    margin-top: 0.25rem;
    padding-top: 0.2rem;
}








/* Media queries */
@media (max-width:1467px) {
    .nosotros {
        flex-wrap: wrap;
    }

    .card {
        width: 30%; /* Reducir el ancho de las tarjetas para que quepan en pantalla */
        margin: 20px;
    }
    .card .cont span {
        transform: rotate(-29deg);
        width: 450px;
        height: 200px;
    }
}

@media (max-width:1000px) {
    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .Logo__title {
        font-size: 2.5rem;
    }


    .about__main {
        gap: 2em;
    }

    .about__picture:last-of-type {
        grid-column: 1/-1;
    }


    .Tendencias__container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3rem;
        text-align: center;
        margin: 1rem;
    }

    .Tendencias__picture {
        justify-self: center;
    }
    .Tendencias p{
        margin: 1rem;
    }
    .Tendencias .subtitle{
        margin: 2rem 0.75;
    }
    .Tendencias div{
        margin-top: 4rem;
    }

    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }


    .testimony__img {
        width: 200px;
        height: 200px;

    }

    .questions__copy {
        width: 100%;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input {
        flex: 1;
    }
    .card {
        width: 50%; /* Reducir el ancho de las tarjetas para que quepan en pantalla */
        margin: 20px;
    }

    .card .cont span {
        transform: rotate(-18deg);
        width: 560px;
        height: 180px;
    }

}

@media (max-width:800px) {
    .Logo__title {
        font-size: 2rem;
    }

    .Logo__paragraph {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 1.8rem;
    }

    .testimony {
        --padding-container: 60px 0;
    }

    .testimony__container {
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow {
        width: 100%;
    }

    .testimony__course {
        margin-top: 15px;
    }

    .questions__title {
        font-size: 1rem;
    }

    .footer__title {
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav__link--footer {
        justify-content: space-between;
    }

    .footer__inputs {
        flex-wrap: wrap;
    }

    .footer__input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit {
        margin-right: auto;
        margin-left: 0;

    }

    /*nosotros*/
    .nosotros {
        flex-direction: column; /* Cambiar a dirección de columna */
        align-items: center;
    }

    .card {
        width: 80%; /* Mantener el tamaño de las tarjetas */
    }
    .card .cont span {
        transform: rotate(-18deg);
        width: 560px;
        height: 180px;
    }

    @media (max-width:600px) {
        .Logo__title {
            font-size: 2rem;
        }

        .Logo__paragraph {
            font-size: 1rem;
        }

        .subtitle {
            font-size: 1.8rem;
        }

        .cta {
            display: inline-block;
            background-color: #546791;
            justify-self: center;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 50px;
            font-size: 13px;
        }

        .about__container {
            padding-bottom: 20px;
        }

        .Tendencias {
            align-content: center;
            gap: 2em;
        }

        .figure {
            justify-content: center;
        }

        .testimony {
            --padding-container: 60px 0;
        }

        .testimony__container {
            grid-template-columns: 10px 1fr 10px;
            gap: .9em;
        }

        .testimony__arrow {
            width: 90%;
        }

        .testimony__course {
            margin-top: 15px;
        }

        .questions__title {
            font-size: 1rem;
        }

        .footer__title {
            justify-self: start;
            margin-bottom: 15px;
        }

        .nav--footer {
            padding-bottom: 60px;
        }

        .nav__link--footer {
            justify-content: space-between;
        }

        .footer__inputs {
            flex-wrap: wrap;
        }

        .footer__input {
            flex-basis: 100%;
            margin: 0;
            margin-bottom: 16px;
        }

        .footer__submit {
            margin-right: auto;
            margin-left: 0;

        }
        section .nosotros{
            padding: 0.75rem;
        }
        div.nosotros{
            width: 20rem;
        }
        
    }
}